/* ---------------- Shop Category ---------------- */

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort p {
    font-weight: 600;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
    cursor: pointer;
}

/* -------- Product Grid -------- */

.shopcategory-products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 50px;
    justify-content: center;
    margin: 20px 170px;
}

/* -------- Item Card -------- */

.item {
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    transition: all 0.4s ease;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item p {
    margin: 6px 0px;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

/* Prices */

.item-prices {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
}

/* -------- Load More -------- */

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 232px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #5d5d5d;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
