.productdisplay {
    display: flex;
    max-width: 1200px;      /* LIMIT WIDTH */
    margin: 40px auto;      /* CENTER THE WHOLE PRODUCT PAGE */
    gap: 40px;              /* EVEN GAP BETWEEN LEFT & RIGHT */
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 120px;          /* In tutorial images are smaller */
    cursor: pointer;
    border-radius: 4px;
}

.productdisplay-main-img {
    height: 550px;
    width: 500px;
    object-fit: cover;
    border-radius: 6px;
}

.productdisplay-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.productdisplay-right-stars {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 25px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #ff4141;
}

.productdisplay-right-description {
    color: #3c3c3c;
    font-size: 14px;
    width: 90%;
}

.productdisplay-right-size h1 {
    margin-top: 40px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-size div {
    display: flex;
    margin: 10px 0px;
    gap: 20px;
}

.productdisplay-right-size-option {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    cursor: pointer;
    transition: 0.2s ease;
}

.productdisplay-right-size-option:hover {
    background: #e5e5e5;
}

.productdisplay-right button {
    padding: 18px 40px;
    width: 220px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}

.productdisplay-right-category {
    margin-top: 10px;
    font-size: 14px;
}

.productdisplay-right-category span {
    font-weight: 600;
}
